@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

canvas {
  border: 1px solid black;
  background-image: url("../img/trebleClef.png");
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  margin: 0 auto;
}

.game-container {
  position:absolute;
  margin: 0 auto;

}

#changing-keys {
  height: 10vw;
}

#title {
  display:flex;
  justify-content: center;
}

#button-3 {
  display: flex;
  justify-content: space-around;
  top: 30vw;
  margin-left: 10vw;
  margin-top: 9vw;
}

.green-button {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
  color:#ffffff;
  width: 20vw;
	font-family:Abril Fatface;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  margin-right: 10vw;
}
.green-button:hover {
  background-color:#00ffcc;
  color: 	#696969;
  letter-spacing: 3px;
}
.green-button:active {
	position:relative;
	top:1px;
}

        